html,body {
  margin:0px;
  display: flex;
  background: #ab4d37;
  width: 100%;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

body {
  font-size: calc(16px + 0.5vw);
  line-height: calc(1.1em + 0.5vw);
  width: 100%;
}

h1 {
  font-size: 2vw;
  margin: .2em 0em;
  font-weight: bold;
  font-family: 'Righteous', cursive;
}

h2 {
  font-size: 1vw;
  margin: .2em 0;
  font-family: 'Righteous', cursive;
}

h3, p {
  margin: .2em 0;
  font-family: 'Open Sans', sans-serif;
}

h3 {
  font-size: 25px;
}

p {
  font-size: 20px;
}

a {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  font-weight: bold;
}

header {
  position: fixed;
  top:0;
  height: 13%;
  width: 100%;
  background: linear-gradient(#ab4d37 70%, transparent);
  justify-content: space-between;
  align-items: center;
}

main {
  margin-top: 125px;
  align-items: center;
}

form {
  width: 33%;
}

form div + div {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 100%;
}

input, textarea {
  font: 1em 'Open Sans', sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 2px solid #f3ef6f;
  margin: 0.5em;
  background-color: transparent;
}

input:focus, textarea:focus {
  border-color: #f3ef6f;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.button {
  padding-left: 90px;
}

button {
  font: 1em 'Open Sans', sans-serif;
  margin-left: 1em;
  padding: .5em;
  border-color: #f3ef6f;
  background-color: #f3ef6f;
}

footer {
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}

.item {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.links a{
  text-decoration: none;
  padding: 0 .5em;
}

.links a:hover{
  color: #f3ef6f;
  text-decoration: underline;
}

.content h1{
  font-size: 4vw;
  align-self: center;
}

.content h2{
  font-size: 2vw;
}

.red {
  color: #ab4d37;
}

.ora {
  color: #ff864b;
}

.yel {
  color: #f3ef6f;
}

.welcome {
  background-color: #B3D2D8;
  width: 100%;
  justify-content: center;
}

.welcome-content {
  width: 50%;
  align-self: center;
  padding: .5em;
}

.welcome-content h2 {
  align-self: center;
}

.about {
  width: 100%;
  justify-content: center;
}

.slideshow {
  max-width:66%;
  align-self: center;
}

.myslides {
  width: 100%;
  display: none;
}

.mySlides2 {
  width: 100%;
  display: none;
}

.about {
  background-color: #D4D3D7;
}

.about-content {
  width: 50%;
  padding: 1em;
}

.stock {
  background-color: #D4D3D7;
  width: 100%;
  justify-content: center;
}

.stock-header {
  align-self: center;
  width: 25%%;
}

.stock-description {
  align-self: center;
}

.stock-content {
  width: 50%;
  padding: 1em;
  background-color: #B3D2D8;
}

.product {
  justify-content: space-between;
  padding: 2.5em;
}

.product-description {
  width: 40%;
  align-items: center;
}

.product-image {
  width: 50%;
  align-self: center;
}

.stock-page {
  padding: 1.5em 0;
}

.stock-page-content {
  width: 70%;
  padding: 0em;
  align-items: center;
}

.stockImage {
  width: 90%;
  padding: .5em;
}

.openings {
  background-color: #D4D3D7;
  width: 100%;
  justify-content: center;
}

.openings-content {
  width: 50%;
  align-items: center;
  padding: 1em;
}

.ebay {
  background-color: #D4D3D7;
  width: 100%;
  justify-content: center;
}

.ebay-content {
  width: 50%;
  align-items: center;
  padding: 1em;
}

.contact {
  background-color: #D4D3D7;
  width: 100%;
  justify-content: center;
}

.contact-content {
  background-color: #B3D2D8;
  width: 50%;
  align-items: center;
  padding: 1em;
}

#logo {
  width: 5em;
  height: 100%;
  margin: 0.5em;
}

@media (max-width:900px) {

  html {
    width: 54.5em;
  }

  body {
    line-height: calc(2.7em + 0.5vw);
  }

  header {
    height: 15%;
    display: block;
  }

  header div {
    width: 100%;
    flex-direction: column;
  }

  header div img {
    display: none;
  }

  header div h1 {
    font-size: 20vw;
  }

  header div h2 {
    font-size: 9vw;
    margin: 1.2em 0;
  }

  p {
    font-size: 30px;
  }

  main {
    margin-top: 218px;
  }

  .content h1 {
    font-size: 20vw;
  }

  .content h2 {
    font-size: 10vw;
  }

  .welcome-content {
    width: 100%;
    padding: .5em 0;
  }

  .slideshow {
    max-width: 100%;
  }

  #navigation {
    display: none;
  }

  .about-content {
    width: 100%;
  }

  .about-content img {
    height: 50%;
    align-self: center;
  }

  .stock-content {
    width: 100%;
  }

  .product {
    padding: .5em;
  }

  .product-image {
    width: 56%;
  }

  .links a {
    font-size: 10vw;
  }

  .ebay-content {
    width: 70%;
  }

  .contact-content {
    width: 70%;
  }

  form {
    width: 80%;
  }

  input, textarea {
    width: 444px;
  }

}
