html,body {
  margin:0px;
  display: flex;
  background: #ab4d37;
  width: 100%;
}

body {
  font-size: calc(16px + 0.5vw);
  line-height: calc(1.1em + 0.5vw);
  width: 100%;
}

h1 {
  font-size: 2vw;
  margin: .2em 0em;
  font-weight: bold;
  font-family: 'Righteous', cursive;
}

h2 {
  font-size: 1vw;
  margin: .2em 0;
  font-family: 'Righteous', cursive;
}

h3, p {
  margin: .2em 0;
  font-family: 'Open Sans', sans-serif;
}

h3 {
  font-size: 25px;
}

p {
  font-size: 20px;
}

a {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  font-weight: bold;
}

header {
  position: fixed;
  top:0;
  height: 125px;
  width: 100%;
  background: linear-gradient(#ab4d37 70%, transparent);
  justify-content: space-between;
  align-items: center;
}

main {
  margin-top: 125px;
  align-items: center;
  width: 100%;
}

form {
  width: 33%;
}

form div + div {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 100%;
}

input, textarea {
  font: 1em 'Open Sans', sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 2px solid #f3ef6f;
  margin: 0.5em;
  background-color: transparent;
}

input:focus, textarea:focus {
  border-color: #f3ef6f;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.button {
  padding-left: 90px;
}

button {
  font: 1em 'Open Sans', sans-serif;
  margin-left: 1em;
  padding: .5em;
  border-color: #f3ef6f;
  background-color: #f3ef6f;
}

footer {
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}

.item {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.links a{
  text-decoration: none;
}

.links a:hover{
  color: #f3ef6f;
  text-decoration: underline;
}

.spacing {
  padding: 0.5em;
}

.product-spacing {
  padding: 2.5em;
}

.content h1{
  font-size: 4vw;
  align-self: center;
}

.content h2{
  font-size: 2vw;
}

.red {
  color: #ab4d37;
}

.ora {
  color: #ff864b;
}

.yel {
  color: #f3ef6f;
}

.welcome {
  background-color: #B3D2D8;
  width: 100%;
  justify-content: center;
}

.welcome-content {
  width: 50%;
  align-self: center;
  padding: .5em;
}

.about {
  width: 100%;
  justify-content: center;
}

.slideshow {
  max-width:66%;
  align-self: center;
}

.myslides {
  width: 100%;
  display: none;
}

.mySlides2 {
  width: 100%;
  display: none;
}

.about {
  background-color: #D4D3D7;
}

.about-content {
  width: 50%;
  padding: 1em;
}

.stock {
  background-color: #D4D3D7;
  width: 100%;
  justify-content: center;
}

.stock-header {
  align-self: center;
  width: 25%%;
}

.stock-description {
  align-self: center;
}

.stock-content {
  width: 50%;
  padding: 1em;
  background-color: #B3D2D8;
}

.product {
  justify-content: space-between;
}

.product-description {
  width: 40%;
  align-items: center;
}

.product-image {
  width: 50%;
  align-self: center;
}

.stock-page {
  padding: 1.5em 0;
}

.stock-page-content {
  width: 70%;
  padding: 0em;
  align-items: center;
}

.stockImage {
  width: 90%;
  padding: .5em;
}

.openings {
  background-color: #D4D3D7;
  width: 100%;
  justify-content: center;
}

.openings-content {
  width: 50%;
  align-items: center;
  padding: 1em;
}

.ebay {
  background-color: #D4D3D7;
  width: 100%;
  justify-content: center;
}

.ebay-content {
  width: 50%;
  align-items: center;
  padding: 1em;
}

.contact {
  background-color: #D4D3D7;
  width: 100%;
  justify-content: center;
}

.contact-content {
  background-color: #B3D2D8;
  width: 50%;
  align-items: center;
  padding: 1em;
}

#logo {
  width: 5em;
  height: 100%;
  margin: 0.5em;
}
